repos:
  - repo: https://github.com/psf/black
    rev: 25.12.0
    hooks:
      - id: black

  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: uv run pylint
        language: system
        types: [python]
        require_serial: true

      - id: pytest-soft
        name: pytest (soft check)
        entry: uv run python -c "import subprocess, sys; ret = subprocess.call(['uv', 'run', '-m', 'pytest']); print('\n[WARNING] TESTS FAILED! Fix them before pushing!\n') if ret != 0 else None; sys.exit(0)"
        language: system
        pass_filenames: false
        always_run: true
        verbose: true
        stages: [pre-commit]

      - id: pytest-strict
        name: pytest (strict check)
        entry: uv run -m pytest
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]
